<div class="section">
    <div class="container tim-container">
      <div id="images">
        <div class="container">
            <div class="tim-title">
                <h3>Who I worked with</h3>
            </div>
            <div class="row">
                <!-- <div class="col-xs-6 col-sm-3 col-md-2">
                    <h4 class="images-title">Thumbnail</h4>
                    <img src="assets/img/faces/clem-onojeghuo-3.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                    <p class="text-center">Erik Faker</p>
                </div> -->
                <div class="col-xs-6 col-sm-12 col-md-12 mb-3">
                  <h5>Data and Market Intelligence</h5>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                  <img src="https://www.euromoneyplc.com/sites/euromoney/files/euromoney-logo.png" class="img-thumbnail img-responsive" alt="Rounded Image">
                  <p class="text-center">Euromoney</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                  <img src="https://www.euromoneyplc.com/sites/euromoney/files/Air%20Finance%20Journal.png" class="img-thumbnail img-responsive" alt="Rounded Image">
                  <p class="text-center">Airfinance Journal</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                  <img src="https://www.euromoneyplc.com/sites/euromoney/files/Global%20Capital.png" class="img-thumbnail img-responsive" alt="Rounded Image">
                  <p class="text-center">Global Capital</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                  <img src="https://www.euromoneyplc.com/sites/euromoney/files/05-02-2020/insider-media-group-logo.png" class="img-thumbnail img-responsive" alt="Rounded Image">
                  <p class="text-center">Insider Publishing Group</p>
                </div>
                <div class="col-xs-6  col-sm-3 col-md-2">
                  <img src="https://www.euromoneyplc.com/sites/euromoney/files/IJ%20Global_0.png" class="img-thumbnail img-responsive" alt="Rounded Image">
                  <p class="text-center">IJ Global</p>
                </div>
                <div class="col-xs-6  col-sm-3 col-md-2">
                  <img src="https://www.euromoneyplc.com/sites/euromoney/files/IMN_1.png" class="img-thumbnail img-responsive" alt="Rounded Image">
                  <p class="text-center">Information Management Network (IMN)</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                  <img src="https://www.euromoneyplc.com/sites/euromoney/files/Total%20Derivatives.png" class="img-thumbnail img-responsive" alt="Rounded Image">
                  <p class="text-center">Total Derivatives</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                  <img src="https://www.euromoneyplc.com/sites/euromoney/files/Euromoney%20TradeData.png" class="img-thumbnail img-responsive" alt="Rounded Image">
                  <p class="text-center">Euromoney TRADEDATA</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                  <img src="https://www.euromoneyplc.com/sites/euromoney/files/BoardEx.png" class="img-thumbnail img-responsive" alt="Rounded Image">
                  <p class="text-center">BoardEx</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                  <img src="https://www.euromoneyplc.com/sites/euromoney/files/Capacity.png" class="img-thumbnail img-responsive" alt="Rounded Image">
                  <p class="text-center">Capacity Media</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                  <img src="https://www.euromoneyplc.com/sites/euromoney/files/ITW-new.png" class="img-thumbnail img-responsive" alt="Rounded Image">
                  <p class="text-center">ITW</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                  <img src="https://www.euromoneyplc.com/sites/euromoney/files/logos/WealthX_0.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                  <p class="text-center">Wealth-X</p>
                </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-12 col-md-12 mb-3">
                <h5>Pricing</h5>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-2">
                <img src="https://www.euromoneyplc.com/sites/euromoney/files/pricingimg/Fastmarkets%20AMM.png" class="img-thumbnail img-responsive" alt="Rounded Image">
                <p class="text-center">AMM</p>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-2">
                <img src="https://www.euromoneyplc.com/sites/euromoney/files/pricingimg/Fastmarkets%20AMM.png" class="img-thumbnail img-responsive" alt="Rounded Image">
                <p class="text-center">MB</p>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-2">
                <img src="https://www.euromoneyplc.com/sites/euromoney/files/pricingimg/Fastmarkets%20AMM.png" class="img-thumbnail img-responsive" alt="Rounded Image">
                <p class="text-center">RISI</p>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-2">
                <img src="https://www.euromoneyplc.com/sites/euromoney/files/Coaltrans%20Conferences.png" class="img-thumbnail img-responsive" alt="Rounded Image">
                <p class="text-center">Coltrans</p>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-2">
                <img src="https://www.euromoneyplc.com/sites/euromoney/files/Global%20Grain.png" class="img-thumbnail img-responsive" alt="Rounded Image">
                <p class="text-center">GlobalGrains</p>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-2">
                <img src="https://www.euromoneyplc.com/sites/euromoney/files/II.png" class="img-thumbnail img-responsive" alt="Rounded Image">
                <p class="text-center">Institutional Investor</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-12 col-md-12 mb-3">
                <h5>Security</h5>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-2">
                <img src="https://cdn2.hubspot.net/hubfs/4921440/cyberaccelerator_acceleratormember_iaw_ncsc_logo_col.png" class="img-thumbnail img-responsive" alt="Rounded Image">
                <p class="text-center">NCSC</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-12 col-md-12 mb-3">
                <h5>Insurance</h5>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-2">
                <img src="https://cdn.freebiesupply.com/logos/large/2x/legal-general-logo-png-transparent.png" class="img-thumbnail img-responsive" alt="Rounded Image">
                <p class="text-center">NCSC</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-12 col-md-12 mb-3">
                <h5>Legal</h5>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-2">
                <img src="https://www.hunteranduro.co.uk/wp-content/uploads/2017/01/CAFCASS.png" class="img-thumbnail img-responsive" alt="Rounded Image">
                <p class="text-center">CAFCASS</p>
              </div>
            </div>
        </div>
    </div>


        <!-- <div class="tim-title">
            <h3>Typography</h3>
            <br/>
        </div>
        <div id="typography">
            <div class="row">
                <div class="typography-line">
                    <h1>
                        <span class="note">Header 1</span> Thinking in textures
                    </h1>
                </div>
                <div class="typography-line">
                    <h2>
                        <span class="note">Header 2</span> Thinking in textures
                    </h2>
                </div>
                <div class="typography-line">
                    <h3>
                        <span class="note">Header 3</span> Thinking in textures
                    </h3>
                </div>
                <div class="typography-line">
                    <h4>
                        <span class="note">Header 4</span> Thinking in textures
                    </h4>
                </div>
                <div class="typography-line">
                    <h5>
                        <span class="note">Header 5</span> Thinking in textures
                    </h5>
                </div>
                <div class="typography-line">
                    <h6>
                        <span class="note">Header 6</span> Thinking in textures
                    </h6>
                </div>
                <div class="typography-line">
                    <p>
                        <span class="note">Paragraph</span> Thinking in textures
                    </p>
                </div>
                <div class="typography-line">
                    <span class="note">Quote</span>
                    <blockquote class="blockquote">
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">Someone famous in <cite title="source Title">Source Title</cite></footer>
                    </blockquote>
                </div>
                <div class="typography-line">
                    <span class="note">Muted text</span>
                    <p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
                </div>
                <div class="typography-line">
                    <span class="note">Primary text</span>
                    <p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
                <div class="typography-line">
                    <span class="note">Success text</span>
                    <p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                </div>
                <div class="typography-line">
                    <span class="note">Info text</span>
                    <p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                </div>
                <div class="typography-line">
                    <span class="note">Warning text</span>
                    <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
                </div>
                <div class="typography-line">
                    <span class="note">Danger text</span>
                    <p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
                </div>
                <div class="typography-line">
                    <h2><span class="note">Small tag</span>Header with small subtitle
                        <br/>
                        <small>".small" is a tag for the headers</small>
                    </h2>
                </div>
            </div>
        </div>
        <br/>
        <div id="images">
            <div class="container">
                <div class="tim-title">
                    <h3>Images</h3>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-sm-6 col-md-3">
                        <h4 class="images-title">Rounded Image</h4>
                        <img src="assets/img/uriel-soberanes.jpg" class="img-rounded img-responsive" alt="Rounded Image">
                        <div class="img-details">
                            <div class="author">
                                <img src="assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                            </div>
                            <p>Chet Faker</p>
                        </div>
                    </div>
                    <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1">
                        <h4 class="images-title">Circle Image</h4>
                        <img src="assets/img/faces/joe-gardner-2.jpg" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                        <p class="text-center">Joe Gardner</p>
                    </div>
                    <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1">
                        <h4 class="images-title">Thumbnail</h4>
                        <img src="assets/img/faces/clem-onojeghuo-3.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                        <p class="text-center">Erik Faker</p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
